[submodule "hook-func"]
	path = hook-func
	url = git@github.com:dingjingmaster/hook-func.git
[submodule "hs-wrap"]
	path = hs-wrap
	url = git@github.com:dingjingmaster/hs-wrap.git
[submodule "sqlite3-wrap"]
	path = sqlite3-wrap
	url = git@github.com:dingjingmaster/sqlite3-wrap.git
[submodule "macros"]
	path = macros
	url = git@github.com:dingjingmaster/macros.git
[submodule "tika-wrap"]
	path = tika-wrap
	url = git@github.com:dingjingmaster/tika-wrap.git
