[submodule "app/macros"]
	path = app/macros
	url = git@github.com:dingjingmaster/macros.git
[submodule "app/sqlite3-wrap"]
	path = app/sqlite3-wrap
	url = git@github.com:dingjingmaster/sqlite3-wrap.git
[submodule "app/tika-wrap"]
	path = app/tika-wrap
    url = git@github.com:dingjingmaster/tika-wrap.git
[submodule "app/hs-wrap"]
	path = app/hs-wrap
	url = git@github.com:dingjingmaster/hs-wrap.git
